{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for elem in book_list %}
            <div class="book col-md-4">
                <h2><a href="{{ elem.pub_date|date:'Y-m-d' }}">{{ elem.name }}</a></h2>
                <p>Автор: {{ elem.author }}</p>
                <p>Дата публикации: {{ elem.pub_date|date:"Y-m-d" }}</p>
            </div>
            {% endfor %}
        </div>
    {% if pub_date_prev %}
        <a class="button button-primary" href="{{ pub_date_prev.pub_date|date:'Y-m-d' }}">⟵ {{ pub_date_prev.pub_date|date:"Y-m-d" }}   </a>
    {% endif %}
    {% if pub_date_next %}
        <a class="button button-primary" href="{{ pub_date_next.pub_date|date:'Y-m-d' }}">   {{ pub_date_next.pub_date|date:"Y-m-d" }} ⟶</a>
    {% endif %}
    </div>
{% endblock %}